// This LESS file will be parsed before the default stylesheet is compiled. Any
// variables defined here will override those in the original stylesheet.
//
// You can also add additional CSS style rules if desired.

.pkp_navigation_primary_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.pkp_navigation_primary,
	.headerShortcuts {
		width: 100%;
		li {
			display: inline-block;
		}
	}
	.headerShortcuts {
		text-align: right;

		a {
			color: @color-icon !important;
			text-decoration: none;
			vertical-align: middle;
		}

		a::before {
			.prefix-icon('\f059',@primary,@font-header);
		}
		.headerShortcuts__send::before {
			content: "\f139";
		}
		.headerShortcuts__register::before {
			content: "\f2bd";
			font-size: @font-header - 3;
		}
	}
}


//Header
.pkp_structure_head {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;

	&.reducedHeader {
		background-color: white;

		.pkp_head_wrapper {
			.box-shadow(0px, 0px, 20px, 0.3);
		}
	}

	.pkp_head_wrapper {
		padding-top: 0;

		//Header Top
		.headerTop {
			.pkp_site_name_wrapper {
				display: flex;
				flex-wrap: wrap-reverse;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;

				background-color: white;

				.headerTop__item {
					flex-basis:33%;

					.is_img {
						color: white;
					}
				}

				.pkp_navigation_user_wrapper {
					position: relative;
					padding-right: 0;
				}
			}
		}


		// Header NavMenu
		.pkp_site_nav_menu {
			background-color: white;
			border-top: 1px solid @color-line;

			.pkp_navigation_user {
				margin-top: 0;
				padding-top: 0;

				.task_count {
					background-color: @primary;
					color: contrast(@primary);
				}
			}
		}
	}
}

// Big header at home:
.pkp_page_index {
	.journalLogo.headerTop__item {
		.is_img {
			display: block;
			height: @headerHeightBig;
			transition: height 0.5s;

			background-image: url('https://dummyimage.com/@headerWidthx@headerHeightBig/@primary/contrast(@primary)');
			background-repeat: no-repeat;
			background-size: 100% auto;

		}
		.reducedHeader {
			height: @headerHeightSmall+10;
			background-position: -10;
		}
	}
}
