// This LESS file will be parsed before the default stylesheet is compiled. Any
// variables defined here will override those in the original stylesheet.
//
// You can also add additional CSS style rules if desired.¡

// Search icon
.userMenu__search::before {
	.prefix-icon('\f002',@color-icon,@font-sml);

	display: inline-block;
	content: "\f002";
	font: normal normal normal @font-sml/1 FontAwesome;
	    font-size: @font-sml;
	    line-height: 1;
	font-size: font-sml;
	color: @color-icon;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	position: relative;
	top: 0px;
	right: 0;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
}

a#languageNav,
a#languageToggleMenulanguageNav,
#navigationUser li > a,
.pkp_navigation_user_wrapper a {
		&,
		&:active,
		&:hover,
		&:visited {
			color: @primary;
			font-size: @font-nano;
			text-transform: uppercase;
			font-weight: @black; //@regular?
		}
}

.pkp_site_nav_menu a,
.pkp_navigation_user > li > a,
.pkp_navigation_user > li.in_focus > a {
	color: @primary;
}

/** Buttons **/

.obj_galley_link {
	line-height: @double;
	padding: 0 @double/4;
}


/** REDI PASTILLA **/

.pkp_page_index {
	.offsetContent {
		margin-top:	@contentOffset+@headerHeightBig;
	}
}

.banner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-basis: 33%;
	background-color: @primary;

	.bannerVisual {
		flex-basis: 33%;
		width: 100%;
		height: 39vh;
		overflow: hidden;
	}

	.bannerIssue {
		flex-basis: 66%;

		font-family: @font-headingAlt;
		font-weight: @regular;
		text-transform: uppercase;
		padding: 2rem;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;

		.bannerIssue__volNum,
		.bannerIssue__year {
			flex-basis: 50%;

			font-weight: @extra-light;
			font-size: @font-mega;
			line-height: @font-mega;
			color: white;
			.opacity(0.8);
		}

		.bannerIssue__year {
			font-size: @font-tera;
			text-align: right;
		}

		.bannerIssue__volNum {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}

		.bannerIssue__title {

			color: white;
			font-size: @font-giga;
			line-height: @font-giga;
			font-weight: @semi-bold;
			text-align: right;

			// .redi-pastilla .current-issue-year {
			// 	font-size: 5.5rem;
			// 	line-height: 4.1rem;
			// }
			//
			// .redi-pastilla .issue-title {
			// 	font-size: 3.2rem;
			// 	font-weight: 500;
			// 	text-align:  right;
			// 	padding-top: 10rem;
			// 	line-height: 94%;
			// }

		}
	}

	.bannerIssue.hover,
	.bannerVisual.hover {
		display: none;
		position: absolute;
		left: 33%;
		background-color: red;
		width: 67%;
		z-index: 300;
	}
}

/* Article List */

.cmp_article_list {
  display: flex;
  flex-wrap: wrap;
}

.cmp_article_list > li {
  flex: 1 0 50%;
  box-sizing: border-box;
  padding-right: 10px;
  max-width: 50%;
}

// But... REVIEWS is always single column.
.section:last-child .cmp_article_list > li {
  flex: 1 0 100%;
  max-width: 100%;
}

// Cover space
.obj_issue_toc .cover {
	width: 18%;
}

/** Article's page **/

.pkp_page_article {

	.pkp_structure_main:first-child:last-child {
		margin-top: 0 !important;
	}

	.pkp_structure_main {
		margin-top: 0;
		width: auto;
	}
	.obj_article_details {

		// Both sides:
		.item {
			padding-top: 0;

			h2 {
				font-size: @font-bump;
				font-weight: @bold;
				line-height: @font-bump;
				text-transform: uppercase;
				color: @color-title;
				border-bottom: 1px solid @color-line;
			}
		}

		// Content side:
		.main_entry {
			width: 66%;

			.page_title {
				font-size: @font-kilo;
				font-weight: @extra-bold;
				line-height: @font-kilo;
				text-transform: uppercase;

				padding: 0px 30px 30px 30px;
				margin: 0;
			}

			ul.authors {
				display: inline;

				li {
					display:inline;
					&::after {
						content: " | ";
					}
					&:last-child::after {
						content: "";
					}
				}
				.name {
					display: inline;

					color: @primary;
					font-size: @font-bump;
					font-weight: @semi-bold;
					text-transform: uppercase;
				}
				.affiliation {
					display: none;
				}
				.orcid {
					display: inline;

					a {
						visibility: hidden;
						width: @font-header;
						height: @font-header;
						display: inline-block;
						vertical-align: bottom;
					}
					a::before {
						/* .prefix-icon('\f8d2',@primary,@font-header); */
						.prefix-icon('\f059',@primary,@font-header);
						visibility: visible;
						display: inline;
					}
				}
			}

			.item {
				&.keywords,
				&.abstract {
					border-left: 8px solid @color-line;
					margin-left: 30px;

					font-family: @font-body-article;

					padding-bottom: 0;
					margin-bottom: 30px;
				}

				&.keywords h2 {
					display: block;
					font-size: @font-bump;
					margin-bottom: 20px;
				}
			}
		}

		// Sidebar:
		.entry_details {
			width: 33%;

			.cover_image {
				img {
					width: 50%;
				}
			}
			.item.doi {
				.label {
						display: block;
				}
			}
			.citation_display {
				.citation_formats {
					border: 0;
					background-color: #F4F4F4;
				}
			}
		}
	}
}

/** Decorations **/

// Responsive
.pkp_site_nav_toggle {
	background-color: @primary;
}

.blockTitle,
.pkp_block .title,
.obj_issue_toc .section h2 {
	border-bottom: 1px solid @color-line;
	width: 100%;
}

// ANNOUNCEMENTS
.pkp_page_index {
	.cmp_announcements h2 {
		border-bottom: 1px solid @color-line;
	    clip: auto;
	    position: inherit;
	    left: 0px;
	}
}

.highlight_first {
	background-color: #EEE;
}


/** Mouse Hovers **/
.obj_article_summary > .title a:hover {
	color: @primary;
}


/* Hero image */
//
// .redi-pastilla .row {
//   overflow: hidden;
//   background-color: #027970;
//   margin-right:0;
//   margin-left:0;
//   margin: 0;
//   padding: 0;
// }
//
// .redi-pastilla {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
//
// .redi-pastilla.header {
//   padding: 0;
// 	background-color: #027970;
//   color: #FFF;
// }
//
// .redi-pastilla .redi-box {
// /*  flex-basis: 100%;*/
// }
//
// .redi-pastilla .redi-box.redi-cover {
// /*  flex: 1;*/
//   padding: 0;
// }
//
// .redi-pastilla .redi-box.redi-text {
//   /* flex: 2; */
//   /* min-height: 100px; */
// }
//



//
// .redi-pastilla .redi-left {
//   width: 100%;
//   /*height: 100%;*/
// }
//
// .redi-pastilla .redi-vol-num {
//   text-align: left;
//   width: 45%;
//   float:left;
// }
//
// .redi-pastilla .redi-year {
//   text-align: right;
//   width: 45%;
//   float: right;
// }
//

//
// .redi-pastilla .current-issue-number:before {
//    content: none;
// }
//

//
//
// .redi-pastilla .cover {
//   max-height: 100%;
//   max-width: 100%;
//   object-fit: cover;
//   /* Default image?
//   background-image : url("https://revistes.uab.cat/ojs-jtl3/public/journals/5/cover_issue_87_en_US.jpg");
//   background-size: cover;
//   background-position: center;
//   */
// }
//
// .redi-pastilla .archive_issue_cover {
//   max-width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: center;
// }
//
// .redi-pastilla .redi-hover {
// 	display: none;
// 	position: absolute;
// 	background-color: #027970;
// 	top: 0;
// 	left: 0;
// 	padding: 0;
// 	/* IE shit */
// 	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
// 	filter: alpha(opacity=90);
// 	/* Modern browsers */
// 	opacity: 0.9;
// 	width: 100%;
// 	height: 100%;
// }
//
// .redi-pastilla .redi-box.redi-cover:hover .redi-hover,
// .redi-pastilla .redi-box.redi-text:hover .redi-hover {
// 	display: block;
// }
//
// .redi-pastilla.header {
// 	margin-top: 12rem;
// }
//
// /* Description text */
// .redi-pastilla .redi-hover p {
// 	font-family: Barlow, Open Sans, Helvetica, Arial;
// 	font-weight: 400;
// 	font-size: 0.9rem;
// 	text-transform: initial;
// 	min-width: 100%;
// 	line-height: 1.56rm;
// 	letter-spacing: 0.2px;
// 	text-align: justify;
// }
//
// .redi-pastilla .redi-hover .description {
// 	width: 100%;
// 	/* padding: 1.5rem 3rem 1.5rem 1.5rem */
// 	padding: 2rem;
// 	margin: 0;
// }
//
// .redi-pastilla .more_button {
//   font-family: Barlow, Open Sans, Helvetica, Arial;
//   color: #FFF;
//   font-weight: 600;
//   padding-top: 1em;
//   display: block;
//   text-align: right;
// }
