// This LESS file will be parsed before the default stylesheet is compiled. Any
// variables defined here will override those in the original stylesheet.
//
// You can also add additional CSS style rules if desired.

/** Reset parent's stuff */

// Links:
a {
	&:hover,
	&:active,
	&:focus,
	&:visited {
		border: 0;
	}
}

// Navigation:
.pkp_navigation_user {
	li {
		a {
			&:hover,
			&:active,
			&:focus,
			&:visited {
				border-bottom: 0;
			}
		}
	}
}

// Galleys:
.obj_galley_link {
	border: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

// Issue TOC sections:
.obj_issue_toc .section {
	margin: 0;
	padding: 0;
}

.obj_issue_toc .section h2 {
	display: block;
    position: relative;
    left: 0;
    margin-top: 0;
    padding: 0;
    background: transparent;
}

.obj_issue_toc .section::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: auto;
    border-top: initial;
}

// Buttons

.cmp_button,
.cmp_form .buttons button,
.pkp_search button[type="submit"],
.page_lost_password .buttons button,
.page_search .submit button,
.block_make_submission a {
	background: none;
	border: initial;
	border-radius: initial;
	box-shadow: initial;

	text-transform: uppercase;
	font-size: @font-nano;
	line-height: inherit;
	padding: @base/2 @base;

	font-weight: @black;
	background: @primary;
	color: @primaryContrast;

	&:hover,
	&:focus
	 {
		background: none;
		border: initial;
		border-radius: initial;
		box-shadow: initial;
		line-height: inherit;

		background-color: @hover;
		color: @hoverContrast;
	}
	&::after,
	&:active::after,
	&:hover::after,
	&:focus::after{
		background: none;
		border: initial;
		border-radius: initial;
		box-shadow: initial;
		content: '';
		line-height: inherit;
	}
}

// Form: lost_password
.page_lost_password {
	.lost_password {
		max-width: 100%;
	}
	.cmp_form input[type="email"] {
		max-width: none;
		width: 100%;
	}
}
